<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <h3>Categorias</h3>
    
    <ul>
        {# Comentario de una linea #}
        {% comment%}
            Comentario
            de mas de 
            una linea
        {% endcomment %}
        {% for category in categories %}
            {% if category == 'code' %}
                <li><b>{{category | upper}}</b></li>
            {%else%}
                <li>{{category}}</li>
            {%endif%}
        {% endfor %}
        <h5>Total de categorias: {{categories | length}}</h5> {# filtro para sacar categorias#}
    </ul>
</body>
</html>